<section class="news">
    <h5 class="news__title">{{ __('[:en]Latest news[:fi]Ajankohtaiset uutiset[:]') }}</h5>
    <ul class="news__carousel" id="carousel-news">
        {% for news_item in news %}
        <li class="news__slide">
            <article class="news__item">
                {% if news_item.thumbnail %}
                    <a href="{{ news_item.link }}"><img src="{{ news_item.thumbnail.src }}" alt="{{ news_item.title }}" class="news__img"></a>
                {% endif %}
                <a href="{{ news_item.link }}" class="news__item-title-link"><h6 class="news__item-title">{{ news_item.title }}</h6></a>
                <div class="news__teaser">
                    {{ news_item.post_content|excerpt(10) }}
                </div>
                <div class="news__footer">
                    <a href="{{ news_item.link }}" class="news__read-more">{{ __('[:en]Read more[:fi]Lue lisää[:]') }}</a>
                    <span class="news__pub-date">{{ news_item.post_date|date }}</span>
                </div>
            </article>
        </li>
        {% endfor %}
    </ul>
</section>