<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{site.language_attributes}}> <!--<![endif]-->
	<head>
	    <meta charset="{{site.charset}}">
        <title>
            {% if wp_title %}
                {{ wp_title }} - {{ site.name }}
            {% else %}
                {{ site.name }}
            {% endif %}
        </title>
	    <meta name="description" content="{{site.description}}">
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="pingback" href="{{site.pingback_url}}">
	    {{function('wp_head')}}
	</head>

	<body class="{{body_class}}" data-template="base.twig">
		<header class="page-header">

			<div class="super-header">
				<div class="super-header__inner">
					{% if super_menu.get_items %}
						<nav class="super-header__nav">
							{% for item in super_menu.get_items %}
								<a href="{{item.get_link}}" class="super-header__item {{ item.classes|join(' ') }}">{{item.title}}</a>
							{% endfor %}
						</nav>
					{% endif %}

					<div class="super-header__selectors">
						<select name="user-language" id="select-super-header-lang" class="super-header__selector--lang">
							<option value="/en/"{% if lang_current == 'en' %} selected{% endif %}>English</option>
							<option value="/fi/"{% if lang_current == 'fi' %} selected{% endif %}>Finnish</option>
						</select>
					</div>

					<div class="super-header__search-block">
						<input type="search" class="page-header__search" placeholder="Search"><button type="submit" class="page-header__search-submit"></button>
					</div>
				</div>
			</div>

			<div class="page-header__inner">

				<div class="page-header__main">
					<a href="{{ site.url }}" class="page-header__logo-block" role="banner">
						{{ site.logo }}
					</a>

					{% if menu.get_items %}
						<nav class="page-header__nav">
							{% for item in menu.get_items %}
								<div class="page-header__nav-items">
									<a href="{{ item.get_link }}" class="page-header__nav-item {{ item.classes|join(' ') }}">{{ item.title }}</a>

									{% if item.get_children %}
										<div class="page-header__nav-children">
											{% for child in item.get_children %}
					                            <a href="{{ child.get_link }}" class="page-header__nav-item page-header__nav-item--child {{ child.classes|join(' ') }}">{{ child.title }}</a>
					                        {% endfor %}
										</div>
									{% endif %}
								</div>
							{% endfor %}
						</nav>
					{% endif %}
				</div>

				<div class="page-header__side">
					<div class="page-header__contact-block">
						<a href="tel:00358405796202" class="page-header__contact-item--phone">+358 40 579 6202</a>
						<a href="mailto:4yourhealth@gmail.com" class="page-header__contact-item--email">4yourhealth@gmail.com</a>
					</div>

					<div class="page-header__side-bottom">
						<div class="page-header__search-block">
							<input type="search" class="page-header__search" placeholder="Search"><button type="submit" class="page-header__search-submit"></button>
						</div>
						<div class="page-header__basket">
							<button class="page-header__basket-btn">0 item(s) - €0,00</button>

							<div class="page-header__basket-list">
								<h5 class="page-header__basket-list-title">Recently added item(s)</h5>
								<ul class="page-header__basket-list-group">
									<li class="page-header__basket-item">
										<button type="button" class="page-header__basket-item-delete">&times;</button>
										<img src="http://placehold.it/85x85" alt="Product name" class="page-header__basket-item-img">
										<div class="page-header__basket-item-text">
											<h6 class="page-header__basket-item-title">Product 1</h6>
											<div class="page-header__basket-item-detail">
												<span class="page-header__basket-item-qty">1</span> &times; <span class="page-header__basket-item-price">710 €</span>
											</div>
										</div>
									</li>
									<li class="page-header__basket-item">
										<button type="button" class="page-header__basket-item-delete">&times;</button>
										<img src="http://placehold.it/85x85" alt="Product name" class="page-header__basket-item-img">
										<div class="page-header__basket-item-text">
											<h6 class="page-header__basket-item-title">Product 2</h6>
											<div class="page-header__basket-item-detail">
												<span class="page-header__basket-item-qty">2</span> &times; <span class="page-header__basket-item-price">7 €</span>
											</div>
										</div>
									</li>
								</ul>

								<div class="page-header__basket-footer">
									<div class="page-header__basket-summary">
										<div class="page-header__basket-summary-item">
											Total: <span class="page-header__basket-summary-item-amount">736€</span>
										</div>
									</div>
									<div class="page-header__basket-links">
										<a href="/" class="page-header__basket-link">Cart</a><br>
										<a href="/" class="page-header__basket-link">Checkout</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<main id="content" role="main" class="page-content{% if sidebar %} page-content--has-sidebar{% else %} page-content--not-has-sidebar{% endif %}">
			{% block content_full %}{% endblock %}
			<div class="page-content__inner">
				<div class="page-content__main {{sidebar_class}}">
					{% block content %}
						Sorry, no content
					{% endblock %}
				</div>
				{% if sidebar %}
					<aside class="page-content__sidebar">
						{{ sidebar }}
					</aside>
				{% endif %}
			</div>
		</main>

		<footer class="page-footer">
			<div class="page-footer__bottom">
				<div class="page-footer__bottom-inner">
					<small class="page-footer__small">4YourHealth &copy; {{"now"|date('Y')}}</small>
				</div>
			</div>
		</footer>
		{{ function('wp_footer') }}
	</body>
</html>