{% extends "base.twig" %}

{% block content %}
	<article class="post-type-{{ post.post_type }} single-post" id="post-{{ post.ID }}">
		<section class="single-post__content">
			<h1 class="single-post__title">{{ post.title }}</h1>
			<p class="single-post__author">
				By {{ post.author.name }} </a>&bull; {{ post.post_date|date }}
			</p>
			<div class="single-post__body">
				{{ post.content }}
			</div>
		</section>

		{% if post.get_comments() %}
			<section class="comments">
				<hr>
				<div class="comments__respond">
					<h3 class="comments__title">Comments</h3>
					{{ comment_form }}
				</div>
				<div class="comments__responses">
					{% for cmt in post.get_comments() %}
						{% include "comment.twig" with { comment:cmt } %}
					{% endfor %}
				</div>
			</section>
		{% endif %}
{% endblock %}
